

doctype html
html
    head
        title Behold your users!
    body
        h1 User List
        div
            a(class='button' href='/') new user
            table
                tr
                    th ID
                    th Name
                    th Email
                    th Age
                    th
                    th
                each user, id in users
                    tr
                        td #{id}
                        td #{user.name}
                        td #{user.email}
                        td #{user.age}
                        td
                            a(class='button' href='/users/'+id) edit
                        td
                            a(class='button' href='/users/'+id+'/delete') delete
                else
                    tr
                        td Nobody!