

doctype html
html
    head
        title Behold your users!
    body
        h1 User List
        div
            a(class='button' href='/') new user
            table
                tr
                    th Name
                    th Email
                    th Age
                    th
                    th
                each user, _id in users
                    tr
                        td #{user.name}
                        td #{user.email}
                        td #{user.age}
                        td
                            a(class='button' href='/users/'+user._id) edit
                        td
                            a(class='button' href='/users/'+user._id+'/delete') delete
                else
                    tr
                        td Nobody!